
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.background-poster {
    position: relative;
    padding: 0%;
    margin: 0%;
}
.Tongkrongan-Hits-Di-Pati {
    top: 281px;
    left: 445px;
    z-index: 2;
    position: absolute;
}
.bola-kuning1 {
    top: 205px;
    left: 110px;
    z-index: 2;
    position: absolute;
}
.bola-kuning2 {
    top: 571px;
    left: 434px;
    z-index: 2;
    position: absolute;
.bola-putih1 {
    top: 4px;
    left: 1263px;
    z-index: 2;
    position: absolute;
}
.bola-putih2 {
    top: 295px;
    left: 154px;
    z-index: 2;
    position: absolute;
}
.bola-putih3 {
    top: 563px;
    left: 82px;
    z-index: 2;
    position: absolute;
}
.daun {
    top: 822px;
    left: -66px;
    z-index: 2;
    position: absolute;
}
.kelereng1 {
    top: 177px;
    left: 1121px;
    z-index: 2;
    position: absolute;
}
.kelereng2 {
    top: 772px;
    left: 882px;
    z-index: 2;
    position: absolute;
}
.bunga1 {
    top: 591px;
    left: 1025px;
    z-index: 2;
    position: absolute;
}
.bunga2 {
    top: 617px;
    left: 1121px;
    z-index: 2;
    position: absolute;
}
.menu {
    text-align: center;
    justify-content: center;
}
.header-menu {
    word-wrap: break-word;
    margin-right: 400px;
    top: 957px;
    left: 434px;
    z-index: 2;
    position: absolute;
    font-family: 'Roboto',condense;
    font-weight: 500;
    font-size: 64px;
}
.Visimisi {
    height: fit-content;
    width: 500px;
    text-align: center;
    position: relative;
    background-color: black;
    z-index: 2;
}
.header-vismis {
    width: 430px;
    top: 3392px;
    left: 555px;
    z-index: 2;
    white-space: nowrap;
    position: absolute;
    font-family: 'Roboto',condense;
    font-weight: 500;
    font-size: 64px;
}
.vismis {
    width: 830px;
    height: 289px;
    top: 3518px;
    left: 337px;
    z-index: 2;
    position: absolute;
    font-family: 'Roboto',condense;
    font-weight: 500;
    font-size: 28px;
    color: #3f3f3f;
}
.update {
    position: relative;
    
}
.instagram {
    height: fit-content;
    width: 500px;
    margin-top: 20px;
    
    z-index: 2;
    display: block;
}